/* Contenedor general */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Cambiado de center a flex-start */
  min-height: 100vh;
  width: 100%;
  background-color: #f8f5ec;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Contenedor del texto */
.home-texto {
  width: 100%;
  background-color: #e2d6b0; /* color beige claro */
  padding: 80px 20px;
  box-sizing: border-box;
  text-align: left; /* Asegura que el texto quede alineado a la izquierda */
}

.home-texto h1 {
  color: #000;
  font-size: 2rem;
  margin: 0 0 10px 0;
  font-weight: normal;
  font-family: 'League Gothic';
}

.home-texto p {
  font-size: 1.3rem;
  color: #000;
  max-width: 800px;
  margin: 0; /* Quitamos auto para que quede a la izquierda */
  line-height: 1.5;
  font-family: "libre baskerville"; 
}

/* Contenedor del catálogo */
.catalogo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background-color: #f8f5ec;
}

/* Grid de productos */
.catalogo-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.producto-card {
  width: 160px;
  background: #fff;
  border-radius: 8px;
  text-align: center;
  padding: 20px 15px; /* ajusta si quieres */
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);

  display: flex;
  flex-direction: column;   /* organiza elementos en columna */
  justify-content: space-between; /* empuja el botón al final */
  height: 280px;            /* altura fija para todas las tarjetas */
}

.producto-card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 10px;
}

.producto-card h4 {
  font-size: 0.9rem;
  margin: 5px 0;
}

.producto-card p {
  font-size: 0.9rem;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.producto-card button {
  background-color: #b2935b; 
  color: #000;
  border: none;
  border-radius: 12px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 0.8rem;
  transition: background-color 0.3s;

  align-self: center; /* centra el botón horizontalmente */
}
